*{
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}
body{
 overflow-x: hidden;
}
section{
  background: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  z-index: -100;
}
#nav{
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100;
}
nav{
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}
nav ul{
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  float: right;
  overflow: hidden;
}
nav ul li{
  float: left;
}
nav ul li a{
  display: block;
  color: #030303;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a.active{
  background-color: #4CAF50;
  color: #000;
}
#logo{
  position: relative;
  top: 2px;
  left: 20px;
  width: 100px;
  height: auto;
}
#p1{
  color: #4CAF50;
  font-size: 3rem;
  position: absolute;
  top: 60vh;
  left: 10%;
  font-family: 'Roboto', sans-serif;
}
.container{
  line-height: 35px;
  height: 80px;
  color: #4CAF50;
  font-size: 30px;
  position: relative;
  top: 30vh;
  left: 10%;
  font-family: 'Roboto', sans-serif;
}
.container li{
  list-style: none;
}
.h{
  position: relative;
  top:80vh;
  left: 0%;
  color: lightgreen;
  box-shadow: 0px 0px 50px #5f943c;
  padding: 10px;
  width: fit-content;
  font-size: 8rem;
}
.welcome{
  color: #4CAF50;
  font-size: 4rem;
  font-family:'Times New Roman', serif;
  width: 50%;
  position: relative;
  top: 10vh;
  left: 50%;
  box-shadow: 0px 0px 50px #5f943c;
}
#about div {
  float: right;
  margin: 1%;
  padding: 1%;
  width: 250px;
  height: 20vh;
  box-shadow: 0px 0px 50px #5f943c;
  position: relative;
  top: 10vh;
}
.hod{
  position: relative;
  top: -20vh;
}
.hod img{
  position: relative;
  top: 15vh;
  left: 7%;
  width: 200px;
  box-shadow: 0px 0px 50px #5f943c;
  border-radius: 50%;
}
.h2{
  position: relative;
  top: 20vh;
  left: 5%;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-family: 'Times New Roman', serif;
  width: fit-content;
}
.hod p{
  position: relative;
  top: 25vh;
  left: 5%;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  width: fit-content;
  font-family: 'Times New Roman', serif;
}
.vl{
  position: relative;
  top: -56vh;
  left: -20%;
  width: 1%;
  height: 80vh;
  margin: 0 auto;
  background-color: #5f943c;
}
.ts{
  position: relative;
  top: -130vh;
  left: 50%;
  width: fit-content;
  font-size: 2rem;
}
.members img{
  position: relative;
  top: -130vh;
  left: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1%;
  padding: 0%;
  width: 100px;
  box-shadow: 0px 0px 50px #5f943c;

}
.members p{
  color: rgb(0, 0, 0);
  font-size:  1rem;
  width: fit-content;
  font-family: 'Times New Roman', serif;
  position: relative;
  top: -140vh;
  left: 50%;
}
#datetime{
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  color: lightgreen;
  box-shadow: 0px 0px 50px #5f943c;
  width: fit-content;
  margin: 10px;
  position: relative;
  top: -16vh;
  left: 10%;
}
.updates{
  height: 50vh;
  position: relative;
  top: -7vh;
  padding: 1%;
  margin: 1%;
}
.i1{
  position: absolute;
  top: 1vh;
  left: 10%;
  width: fit-content;
  font-size: 2rem;
  box-shadow: 0px 0px 50px #5f943c;
}
.i2{
  position: absolute;
  top: 1vh;
  left: 45%;
  width: fit-content;
  font-size: 2rem;
  box-shadow: 0px 0px 50px #5f943c;
}
.i3{
  position: absolute;
  top: 1vh;
  left: 80%;
  width: fit-content;
  font-size: 2rem;
  box-shadow: 0px 0px 50px #5f943c;
}
.n1{
  width: 30%;
  position: absolute;
  top: 10vh;
  left: 4%;
}
.n2{
    width: 30%;
    position: absolute;
    top: 10vh;
    left: 37%;
    }
.n3{
      width: 30%;
      position: absolute;
      top: 10vh;
      left: 70%; 
}
.updates li{
  padding: 2%;
  margin: 3%;
  box-shadow: 0px 0px 50px #5f943c;
}
.slider-wraper{
  position: relative;
  top: -10vh;
  max-width: 48rem;
  margin: 0 auto;
  z-index: 100;
}
.slider-wraper .slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0px 0px 50px #5f943c;
  border-radius: 0.5rem;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
} 
.social{
  height: 40vh;
  width: fit-content;
  list-style: none;
  margin: 0%;
  padding: 0%;
  position: relative;
  top: 35vh;
  left: 95%;
}
.social li{
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 1px;
  padding-right: 2px;
  padding-bottom: 30px;
  padding-left: 5px;
  box-shadow: 0px 0px 50px #5f943c;
}
.h, #information h2{
  animation: appear 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
#information h2{
  animation: appear 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes appear{
  from{
  opacity:0.8;
  transform: translateX(100%)
}
  to{opacity:1;
  transform: translateX(0%)}
  
}
#about div{
  animation: scale 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
#team img, #gallery .slider-wraper {
  animation: scale 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes scale{
  from{
  opacity:1;
  scale: 0.5 ;
}
  to{opacity:1;
  scale: 1}
  
}
#team p, .ts{
  animation: opacity-text 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes opacity-text{
  from{
    opacity: 0;
    
  }
  to{
    opacity: 1;
  }
}
#information #datetime, #information li, #contact li{
  animation: appear-r 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes appear-r{
  from{
  opacity:0.5;
  transform: translateX(-50%)
}
  to{opacity:1;
  transform: translateX(0%)}
  
}
#contact li{
  animation: op 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes op{
  from{opacity: 0;}
  to{
    opacity: 1;
  }
}
#preloader{
  background: white url('pre.gif') no-repeat center center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;

}